/*
/   Total width: 70em
/   Gutter: 1em
/   Column width: 7em
*/

// ==========================================================================
// Defaults
// ==========================================================================
* {
  @include box-sizing(border-box);
}

body, html {
  height: 100%;
}
body {
  color: $black;
  font-family: $sans-serif;
  font-weight: 400;
  font-size: 12px;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  width: 100%;
}
img {
  display: block;
  height: auto;
  max-width: 100%;
}

h1, h2, h3, p {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}

h1, h2, h3, nav {
  font-weight: normal;
  line-height: 1.1;
}

p {
  margin-bottom: 1em;
}

a {
  @include transition(all 180ms);
  color: $black;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

input {
  border: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}


.cf {@include clearfix;}

.wrap {
  display: block;
  margin: 0 auto;
  padding: 0 8.75%;
  position: relative;
  width: 100%;
  @include respond-min(81em) {
    padding: 0 100px;
    max-width: 1600px;
  }
}

.offscreen {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.disable-hover,
.disable-hover * {
  pointer-events: none !important;
}

// ==========================================================================
// Standard Elements
// ==========================================================================

.section-heading {
  font-size: 2em;
  font-weight: 700;
  text-transform: uppercase;
  @include respond-min(40em) {
    font-size: 4em;
  }

  .full-width & {
    @include respond-min(81em) {
      font-size: 5.8em;
      line-height: .95;
      width: 60%;
    }
  }
}


// ==========================================================================
// Header
// ==========================================================================

.site-header {
  @include clearfix;
  background: $white;
  padding-top: 25px;
  padding-bottom: 25px;
  position: fixed;
  width: 100%;
  z-index: 123;
  @include respond-min(81em) {
    padding-top: 40px;
    padding-bottom: 45px;
  }
}

.shadow {
  border-bottom: 1px solid lighten($black, 60%);
}

.payment-header {
  z-index: 124;
}

.payment-message {
  font-size: 1.5em;
  font-weight: 800;
  margin: 12px auto 0;
  max-width: 530px;
  text-align: center;

  @include respond-min(40em) {
    font-size: 2em;
  }
  @include respond-min(81em) {
    max-width: 1400px;
    width: 100%;
  }


}


.site-title {
  font-size: 1.5em;
  float: left;
  letter-spacing: 2px;
  margin-top: 12px;
  text-transform: uppercase;
  @include respond-min(40em) {
    font-size: 3em;
  }

  strong {
    font-weight: 700;
  }

  a {
    text-decoration: none;
  }
}

.bag {
  float: right;
}

.button {
  @include clearfix;
  @include border-radius;
  @include transition(background-color 500ms);
  background: $black;
  color: $white;
  font-weight: 500;
  padding: 15px;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
  width: 116px;
  @include respond-min(40em) {
    margin-top: 10px;
    padding: 12px 15px;
    width: 140px;
  }

  &.items-in-cart {
    cursor: pointer;
    background: $green;
  }

  .label {white-space: nowrap;}
  .total-quantity {}
}

.dropdown {
  @include border-radius(5px);
  @include box-shadow(0 6px 13px rgba(black,0.2), 0 0 1px rgba(black,0.4));
  background: #fff;
  position: absolute;
  margin-left: 1%;
  right: 1%;
  top: 70px;
  z-index: 800;
  width: auto;

  opacity: 0;
  -webkit-transform-origin: 245px -5px;
  transform-origin: 245px -5px;
  -webkit-transform: scale(.65);
  transform: scale(.65);
  -webkit-transition: all .3s cubic-bezier(.34,1.61,.7,1);
  transition: all .3s cubic-bezier(.34,1.61,.7,1);

  .error-message {
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    padding: 20px 16px 6px;
    color: #df0b0b;
    display: none;

    &.visible {
      display: block;
    }
  }

  .cart-item-container {
    display: block;
  }

  &.visible {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  &:before {
    content: "▲";
    color: $white;
    font-size: 1.5em;
    display: block;
    position: absolute;
    right: 20%;
    top: -19px;
    text-shadow: 0 -1px 2px lighten($black, 50%);
    @include respond-min(40em) {
      right: 140px;
    top: -19px;
    }
  }

  div:first-child {
    @include border-radius(5px 5px 0 0);

    div:first-child {
      @include border-radius(5px 5px 0 0);
    }

  }

  .each-items {
    overflow: hidden;
    overflow-y: auto;
    max-height: 360px;

    .cart-item {
      border-bottom: 1px solid #e7eef3;
      overflow: hidden;
      padding: 16px 16px 12px;
      position: relative;

      &:first-child {
        @include border-radius(5px 5px 0 0);
      }

      .name {
        color: #292e31;
        font-size: 12px;
        font-weight: bold;
        padding-bottom: .5em;
        padding-right: 33%;
        line-height: 1.4em;
        @include respond-min(24em) {
          padding-right: 16px;
          white-space: nowrap;
        }
      }

      .remove {
        cursor: pointer;
        width: 10px;
        height: 10px;

        position: absolute;
        top: 18px;
        right: 16px;

        @include background-image-hires(/images/remove, 10px 10px);
        background-repeat: no-repeat;
        background-position: center center;

        opacity: 0.47;

        &:hover {
          opacity: 0.8;
        }

        &.active {
          opacity: 1.0;
        }
      }

      .price-qty {


        .price {
          color: #6f7c82;
          float: right;
          font-size: 12px;
          font-weight: bold;
          line-height: 23px;
          margin-right: 5px;

          .value {
            em {
              letter-spacing: 0;
            }
          }

        }

        .qty {
          @include border-radius(3px);
          @include box-shadow(inset 0 1px 1px rgba(black,0.05));
          background: #fff;
          border: 1px solid #ced4d9;
          color: #6f7c82;
          float: right;
          font-size: 12px;
          font-weight: bold;
          height: 22px;
          outline: 0;
          text-align: center;
          width: 24px;
        }

        input[type=number]::-webkit-inner-spin-button,
        input[type=number]::-webkit-outer-spin-button {
            /* display: none; <- Crashes Chrome on hover */
            -webkit-appearance: none;
            margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
          }

        .remove {
          float: right;
          font-size: 14px;
          padding-left: 7px;
          padding-top: 3px;
          cursor: pointer;
        }

      }

    }

  }

  .total {
    background: #fafcfc;
    border-bottom: 1px solid #e7eef3;
    overflow: hidden;
    padding: 10px 16px;

    p {
      color: #6f7c82;
      font-size: 14px;
      font-weight: bold;
      line-height: 26px;

      &.label {
        float: left;
        width: 120px;
      }

      &.total-value {
        float: right;
        font-size: 18px;
        text-align: right;

        span {
          letter-spacing: -2px;
        }

      }

    }

  }

  form {
    padding: 12px 16px;

    .stripe-button-el {
      // @extend .button;
      // @extend .button.items-in-cart;
      // border: 0;
      // font-size: 1.2em;
      width: 100%;
    }
  }

  &.added {

    .label {
      color: #59717f;
      font-size: 14px;
      line-height: 1.3em;
      padding: 20px 30px;
      text-align: center;

      span {
        font-weight: bold;
      }

    }

  }

}

.shop-container {
  @include clearfix;
  padding-top: 100px;
  @include respond-min(40em) {
    padding-top: 145px;
  }
}

// ==========================================================================
// Item
// ==========================================================================

.item-container {
  @include clearfix;
  position: relative;
  @include respond-min(81em) {
    display: inline-block;
    width: 49.8%;
    height: 100%;
  }

  &:before {
    content: '';
    display: inline-block;
    height: 100%; 
    vertical-align: middle;
    margin-right: -0.25em; /* Adjusts for spacing */
      
    /* For visualization 
    background: #808080; width: 5px;
    */
   }

  &.full-width {
    @include respond-min(81em) {
      display: block;
      width: 100%;
    }
  }
}

.item {
  @include clearfix;
  max-width: 530px;
  margin: 0 auto 40px;
  @include respond-min(81em) {
    margin: 0 0 70px;
    float: left;
    display: inline-block;
  }

  .full-width & {
    @include respond-min(81em) {
      max-width: 1400px;
      min-height: 680px;
      width: 100%;
    }
    @include respond-min(90em) {
      min-height: 800px;
    }
  }

  .right & {
    @include respond-min(81em) {
      float: right;
    }
  }
}

.item_info {
  position: relative;
  margin-bottom: 1.2em;
  height: 100%;
}

.item_title {
  position: relative;
  z-index: 2;
  .full-width & {
    @include respond-min(81em) {
      padding-top: 15%;
      margin-bottom: .28em;
    }
  }
}

.item_price {
  display: inline-block;
  font-size: 2.5em;
  font-weight: 200;
  position: absolute;
  bottom: -.42em;
  z-index: 2;
  .full-width & {
    @include respond-min(81em) {
      bottom: 0;
      font-size: 4em;
      margin-bottom: .2em;
      position: relative;
    }
  }
}

.item_image-column {
  position: relative;
  margin-top: -1.2em;
  @include respond-min(40em) {
    margin-top: -2.2em;
  }
  
  .full-width & {
    @include respond-min(81em) {
      margin: 0;
      max-width: 70%;
      position: absolute;
      top: 0;
      right: 0;
    }
  }
}

.item_image-area {
  .mag_glass {
    @include transition(opacity 300ms);
    @include background-image-hires(images/mag);
    cursor: pointer;
    float: right;
    margin: -4.68em .68em 0 0;
    width: 49px;
    height: 45px;
    opacity: 0;
  }

  &:hover {
    .mag_glass {
      @include background-image-hires(images/mag);
      opacity: .98;
    }
  }
}

.item_image-container {
  position: relative;
}

.item_image {
  @include transition((opacity 700ms, top 150ms));
  position: absolute;
  max-height: 0;
  opacity: 0;
  top: -10px;
  left: 0;
  cursor: pointer;

  &.is-active {
    max-height: 150em;
    opacity: 1;
    position: relative;
    top: 0;
    display: block;
  }
}

.item-image-selectors {
  display: none;
  .full-width & {
    @include respond-min(81em) {
      display: block;
      float: right;
      width: 30%;
    }
  }
}

.item-image-selector-list {
  list-style: none;
}

.item-image-selector-list-item {
  display: inline-block;
  float: right;
  margin: 1em 0 0 6px;
  width: 28%;
}

.item-thumbnail {
  &:hover, &.is-active {
    -webkit-box-shadow: 0 0 0 1px $black;
    box-shadow: 0 0 0 1px $black;
  }
}


.item_caption {
  font-weight: 500;
  display: none;
  @include respond-min(40em) {
    display: block;
    font-size: 1.166em;
    float: right;
    margin-top: 1em;
    width: 50%;
  }

  .full-width & {
    @include respond-min(81em) {
      width: 65%;
      float: left;
    }
  }
}

.item_details {
  font-weight: 500;
  @include respond-min(40em) {
    display: none;
  }
}

.item_option-container {
  @include respond-min(40em) {
    float: left;
    width: 50%;
  }
}

.size {
  @include border-radius;
  transition: background 100ms ease;
  border: 1px solid rgba($black, .6);
  cursor: pointer;
  height: 38px;
  margin: 0 0 1em;

  overflow: hidden;
  position: relative;
  width: 140px;

  &.added {
    animation-name: greenPulse;
    animation-duration: 2s;
    animation-iteration-count: 1;

    -webkit-animation-name: greenPulse;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: 1;
  }


  &:hover {
    //text-decoration: underline;
  }

  &.required {
    border-color: #cb1a1a;
  }

  &:hover {
    //background-color: rgba($black, .1);
  }

  &:active {
    //background-color: rgba($black, .1);
  }

  .shim-select {
    color: $black;
    font-size: 12px;
    line-height: 14px;
    font-weight: bold;

    .label {
      display: block;
      position: relative;
      left: 12px;
      top: 12px;
      text-transform: uppercase;
    }

  }

  .arrows {
    @include background-image-hires(images/arrows);
    width: 6px;
    height: 11px;
    position: absolute;
    right: 12px;
    top: 13px;
    z-index: 40;
  }

  select {
    opacity: 0.0;
    border: 0;
    cursor: pointer;
    left: -1px;
    margin: 0;
    outline: none;
    overflow: hidden;
    padding: 6px 32px 6px 16px;
    position: absolute;
    right: -1px;

    font-size: 20px;
    font-weight: bold;

    top: -1px;
    vertical-align: bottom;
    white-space: nowrap;
    width: 100%;
    height: 30px;
    z-index: 50;

    -webkit-font-smoothing: antialiased;

    @include respond-min(60em) {
      font-size: 12px;
    }

    /* opera hack */

    @media (min-resolution: .001dpcm) {
      padding-bottom: 7px;
    }
  }
}


// ==========================================================================
// Footer
// ==========================================================================

.site-footer {
  font-weight: 500;
  padding-bottom: 80px;
  text-transform: uppercase;
  @include respond-min(62em) {
    padding-top: 80px;
  }
  a {
    font-weight: 500;
  }

  .copy {
    text-align: center;
    @include respond-min(62em) {
      text-align: right;
      float: right;
    }
  }
}

.footer-nav {
  text-align: center;
  @include respond-min(62em) {
      float: left;
    }
  li {
    display: block;
    margin-bottom: 1em;
    @include respond-min(62em) {
      display: inline-block;
      margin: 0 4em 0 0;
    }
  }
}

// ==========================================================================
// Overlay
// ==========================================================================

.overlay {
  @include transition((opacity 300ms, top 500ms));
  background: rgba($black, .85);
  opacity: 0;
  position: fixed;
  top: -10px;
  left: -100%;
  width: 100%;
  height: 100%;
  z-index: 12345;

  .show-overlay & {
    left: 0;
    top: 0;
    opacity: 1;
  }
}

.overlay_content {
  img { width: 100%;}
}

.overlay_cancel {
  @include border-radius;
  @include transition;
  border: 1px solid rgba($black, .75);
  cursor: pointer;
  font-weight: 800;
  padding: 1em 1.4em .9em;
  position: fixed;
  right: 5%;
  text-transform: uppercase;
  top: 5%;
  z-index: 1001;
  @include respond-min(81em) {
      right: 100px;
      top: 50px;
    }

  &:hover {
    color: $white;
    border-color: $white;
  }
}
